body {
  margin: 0px;
  padding: 0px;
  line-height: 20px
}
body, input { font-size:14px; }
h1 { text-align:center; }
span.partydef { display: block; margin: 5px 0; }
#container {
  width:500px;
  margin: 50px auto;
}
#fork-p { text-align:right; }
canvas { margin:30px 0 20px 0; }